#=======================================
# Core Joomla Excludes
#=======================================

www/administrator/cache/*
www/administrator/log/*
www/administrator/logs/*
www/administrator/tmp/*
www/cache/*
www/images/*
www/log/*
www/logs/*
www/tmp/*

www/configuration.php
www/.htaccess
www/robots.txt
www/README.txt
www/LICENSE.txt
www/htaccess.txt
www/CONTRIBUTING.md
www/joomla.xml
www/robots.txt.dist
www/web.config.txt


# Symlinks

www/images

#=======================================
# Extensions Excludes
#=======================================

# Files Excludes
www/administrator/.htaccess
www/administrator/.htpasswd
www/.htpasswd
www/.htaccess.admintools
www/.htversion
www/templates/tjbase/assets/custom/css/mixed.min.css.map
www/plugins/system/cachecleaner/cachecleaner_lastclean.log


# Other Exludes

www/administrator/components/com_akeeba/backup/*


#=======================================
# File types Excludes
#=======================================


*.*~
www/.bash_history
.sass-cache
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
*.log
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.map


#=======================================
# Eclipse Core Excludes
#=======================================

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.buildpath
.editorconfig
.settings
.DS_Store
.idea
nbproject

#=======================================
# Node Modules Excludes
#=======================================
www/templates/tjbase/automation/node_modules/*
