.partners {
	.sppb-addon-wrapper {
		margin: 0 0 30px 0 !important;
	}
	.sppb-addon-single-image {
		.sppb-addon-single-image-container{
			width: 100%;
			   height: 160px;
			   padding: 15px;

			a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 70%;
			}
		}
		img {
			width: auto;
			height: auto;
    		max-height: 130px;
			transition: all 0.4s ease !important;
			-webkit-transition: all 0.4s ease !important;
			-moz-transition: all 0.4s ease !important;
			-o-transition: all 0.4s ease !important;

			&:hover {
				transform: scale(1.05);
				-webkit-transform: scale(1.05);
				-ms-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-o-transform: scale(1.05);
			}
		}
	}
}
@include respond-above(md) { 
	.partners {
		.sppb-addon-wrapper {
			margin: 0 0 30px 0;
		}
	}
}