.partners {
	.sppb-addon-wrapper {
		margin: 0 0 30px 0 !important;

		> div {
			box-shadow: 0px 0px 20px 0px rgba(152, 152, 152, 0.15) !important;

			&:hover {
				box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.15) !important;
			}
		}
	}
	.sppb-addon-single-image {
		.sppb-addon-single-image-container{
			width: 100%;
			   height: 160px;
			   padding: 15px;

			a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 70%;
			}
		}
		img {
			width: auto;
			height: auto;
			max-width: 80%;
			max-height: 130px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
@include respond-above(md) { 
	.partners {
		.sppb-addon-wrapper {
			margin: 0 0 30px 0;
		}
	}
}