.pagination-wrap {
    width: 100%;
    text-align: center;

    .pagination {
        a {
            border: none;
            font-size: 20px;
            line-height: 18px;
            float: none;
            display: inline-block;
            border-radius: 0;
            &:after {
                content: none;
            }
        }
    }
}