@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreThin.otf')  format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreThinItalic.otf')  format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreLight.otf')  format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreLightItalic.otf')  format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreRegular.otf')  format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreRegularItalic.otf')  format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreMedium.otf')  format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreMediumItalic.otf')  format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreSemibold.otf')  format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreSemiboldItalic.otf')  format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreBold.otf')  format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreBoldItalic.otf')  format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreBlack.otf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Calibre';
	src:url('../fonts/calibre/CalibreBlackItalic.otf')  format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

html {
	position:relative;
	min-height: 100%;
}
body {
	font-family: 'Calibre', sans-serif !important;
	font-size: 16px;
	color: #333;
}
.blank {
	height: 100px;
}
.tjbase-mainbody {
	padding: 0;
}
img {
	max-width: 100%;
}
a {
	@include anchor-style;
}
.font-weight-regular {
	font-weight: $font-weight-regular;
}
.fs-18 {
	font-size: $fs-18;
}

@include respond-above(sm) {
	.tjbase-mainbody {
		padding: 30px 0 0 0;
	}
}

@include respond-above(md) {
	.tjbase-mainbody {
		padding: 70px 0 0 0;
	}
}

@include respond-above(lg) {
	.tjbase-mainbody {
		padding: 150px 0 0 0;
	}
}