/* Common classes */
$theme-primary-color: #0080BC;
$theme-secondary-color: #00B993;

$font-weight-thin: 300;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-semibold: 700;
$font-weight-black: 800;
$font-weight-bold: 900;

$fs-18: 18px;